// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

body {
    background: linear-gradient(
        to left,
        #000000 0%,         /* Noir plein à droite */
        #000000 10%,        /* Noir maintenu jusqu'à 40% */
        #995f77 60%        /* Dégradé direct vers le rose à partir de 40% */
    );
    margin: 0;
    padding: 0;
}

.home {
    display: grid;
    grid-template-columns: 3fr 2fr;
    height: 90vh;
}

.left {
    
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 80%;

}

.side-image {
    height: 100%;
    object-fit: contain;
}