// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------.menu a {

.topbar {
    background-color: #f8c8dc; /* rose pâle */
    padding: 1rem;
    height: 5vh; /* Hauteur de la barre */
    position: fixed; /* Fixe la barre en haut */
    top: 0; /* La colle en haut */
    left: 0; /* La colle au bord gauche */
    right: 0; /* La colle aussi au bord droit */
}





  