// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------.menu a {

.topbar {
    background-color: #f8c8dc;
    padding: 0;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: center; /* Centre les liens horizontalement */
    align-items: center;      /* Centre verticalement */
    position: relative;       /* Nécessaire pour positionner le logo en absolu */
}

.topbar-logo {
    position: absolute;
    left: 2vw;
    height: 100%; /* La taille de la topbar */
    width: auto;
    object-fit: contain;
}

nav .topbar-links {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav .topbar-links li {
    margin: 0 3vh;
}

nav .topbar-links a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav .topbar-links a:hover {
    color: #d45c78;
}










  